In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

In [2]:
df = pd.read_csv("/content/adult.csv")

In [4]:
df.head()

   age workclass  fnlwgt  ... hours.per.week  native.country income
0   90         ?   77053  ...             40   United-States  <=50K
1   82   Private  132870  ...             18   United-States  <=50K
2   66         ?  186061  ...             40   United-States  <=50K
3   54   Private  140359  ...             40   United-States  <=50K
4   41   Private  264663  ...             40   United-States  <=50K

[5 rows x 15 columns]

In [5]:
df.tail()

       age workclass  fnlwgt  ... hours.per.week  native.country income
32556   22   Private  310152  ...             40   United-States  <=50K
32557   27   Private  257302  ...             38   United-States  <=50K
32558   40   Private  154374  ...             40   United-States   >50K
32559   58   Private  151910  ...             40   United-States  <=50K
32560   22   Private  201490  ...             20   United-States  <=50K

[5 rows x 15 columns]

In [6]:
categorical_col = df.select_dtypes(include=["object"]).columns
numerical_col = df.select_dtypes(include=["int64", "float64"]).columns

In [7]:
print("Categorical Columns: ", categorical_col)
print("Numerical Columns: ", numerical_col)

Categorical Columns:  Index(['workclass', 'education', 'marital.status', 'occupation',
       'relationship', 'race', 'sex', 'native.country', 'income'],
      dtype='object')
Numerical Columns:  Index(['age', 'fnlwgt', 'education.num', 'capital.gain', 'capital.loss',
       'hours.per.week'],
      dtype='object')

In [13]:
from sklearn.preprocessing import LabelEncoder

Le = LabelEncoder()
df["income"] = Le.fit_transform(df["income"])

In [15]:
df_encoded = pd.get_dummies(df, columns=categorical_col, drop_first=True)

print(df_encoded.head())

   age  fnlwgt  ...  native.country_Yugoslavia  income_1
0   90   77053  ...                      False     False
1   82  132870  ...                      False     False
2   66  186061  ...                      False     False
3   54  140359  ...                      False     False
4   41  264663  ...                      False     False

[5 rows x 101 columns]

In [17]:
scaler = StandardScaler()
df_encoded[numerical_col] = scaler.fit_transform(df_encoded[numerical_col])

In [19]:
#befor Scaling
df[numerical_col].describe()

                age        fnlwgt  ...  capital.loss  hours.per.week
count  32561.000000  3.256100e+04  ...  32561.000000    32561.000000
mean      38.581647  1.897784e+05  ...     87.303830       40.437456
std       13.640433  1.055500e+05  ...    402.960219       12.347429
min       17.000000  1.228500e+04  ...      0.000000        1.000000
25%       28.000000  1.178270e+05  ...      0.000000       40.000000
50%       37.000000  1.783560e+05  ...      0.000000       40.000000
75%       48.000000  2.370510e+05  ...      0.000000       45.000000
max       90.000000  1.484705e+06  ...   4356.000000       99.000000

[8 rows x 6 columns]

In [20]:
#After Scaling
df_encoded[numerical_col].describe()

                age        fnlwgt  ...  capital.loss  hours.per.week
count  3.256100e+04  3.256100e+04  ...  3.256100e+04    3.256100e+04
mean  -3.666078e-17 -1.008172e-16  ... -3.491503e-17   -2.793203e-17
std    1.000015e+00  1.000015e+00  ...  1.000015e+00    1.000015e+00
min   -1.582206e+00 -1.681631e+00  ... -2.166595e-01   -3.194030e+00
25%   -7.757679e-01 -6.816910e-01  ... -2.166595e-01   -3.542945e-02
50%   -1.159546e-01 -1.082193e-01  ... -2.166595e-01   -3.542945e-02
75%    6.904838e-01  4.478765e-01  ... -2.166595e-01    3.695194e-01
max    3.769612e+00  1.226856e+01  ...  1.059351e+01    4.742967e+00

[8 rows x 6 columns]

In [21]:
df_encoded.to_csv("adult_preprocessed.csv", index=False)
print("Processed dataset saved successfully!")

Processed dataset saved successfully!